{{#each this}}
<div class="modal-form">

    <div class="poster">
        <img src="{{url}}" alt="movie poster" class="poster__image" />
    </div>

    <div class="modal-form__meta">
        <h2 class="modal-form__title">{{title}}</h2>

        <div class="stats">
            <p class="stats__item">Vote / Votes
                <span class="stats__material stats__material--rating">{{rating}}</span> / 
                <span class="stats__material">{{voteCount}}</span>
            </p>
            <p class="stats__item">Popularity
                <span class="stats__material">{{popularity}}</span> 
            </p>
            <p class="stats__item">Original Title
                <span class="stats__material">{{originalTitle }}</span>
            </p>
            <ul class="stats__item">Genre
                {{#each this.genres}}
                <li class="stats__material">{{name}}</li>
                {{/each}}
            </ul>
        </div>

        <p class="modal-form__about">About</p>
        <p class="modal-form__description">{{description}}</p>
        <button class="modal-form__button" type="button">ADD TO WATCHED</button>
        <button class="modal-form__button" type="button">ADD TO QUEUE</button>  
    </div>
</div>
{{/each}}