{{#each results}}
<li class="movies__card" id="list-card" data-id='{{id}}'>
  <div class="movies__thumb">
    <img class="img movies__img" src={{poster_path}} alt={{original_title}}>
  </div>
  <div class="movies__content">
    <h2 class="movies__title">{{original_title}}</h2>
    <p class="movies__description">
      {{genre}} | {{release_date}}
      <span class="movies__rating">{{popularity}}</span>
    </p>
  </div>
</li>
{{/each}}