{{#each this}}
<li class="movie-card">
  <div class="movie-card__thumb">
    <img src={{poster_path}} alt={{original_title}} class="movie-card__img">
  </div>
  <div class="movie-card__content">
    <h2 class="movie-card__title">{{original_title}}</h2>
    <p class="movie-card__description">
      {{overview}} | {{release_date}}
      <span class="movie-card__rating">{{rating}}</span>
    </p>
  </div>
</li>
{{/each}}

{{!-- {{#each this}}
<li class="card">
  <div class="card__thumb">
    <img src={{poster_path}} alt={{original_title}} class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">{{original_title}}</h2>
    <p class="card__description">
      {{overview}} | {{release_date}}
    </p>
  </div>
</li>
{{/each}} --}}